/* Signup.css */

.Signup_from{
  height: 100%;
  width: 100%;
  /* background-image: url(https://www.vecteezy.com/video/4450274-lifting-shot-of-fresh-water-flowing-over-the-rock-to-natural-pond-among-greenery-woodland); */
  background-color: var(--color-theme-price-table-header) !important;
  /* background-repeat: no-repeat; */
  background-size: auto !important;
  color: var(--color-theme-text-tertiary) !important;

}

.Sigup_change{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

form {
    /* display: flex; */
    flex-direction: column;
    /* align-items: center; */
    /* background-color: var(--color-theme-table-row-odd) !important; */
    /* width: 700px */
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    /* width: 42%; */
    display: flex;
    /* margin-left: 250px; */
  }
  
  h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  /* .Lognup_from br{
    display: flex;
    align-items: center;
  } */
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    color: var(--color-classic-price-table-header) !important;
    font-size: 1rem;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  .error {
    color: red;
    font-size: 0.8rem;
    margin-top: 5px;
  }

  input{
    background-color: white;
  }